/* Universal Selector */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Element Selector */
body {
    background-color: black;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: large;
}

/* Use of Grid and ID Selector*/
#middle-container {
    margin: 30px auto;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(6, auto);
    height: 100vh;
}


/* Class Selector */
.intro-text {
    margin: auto 20px;
}

/* Descendant and Group Selector */
#middle-container h1,
h5 {
    text-align: center;
    margin: 20px auto;
}

h1 {
    text-decoration: underline;
}


.logos {
    margin: 30px 0;
}

/* Use of Flexbox */
.team-logos {
    margin: 15px auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Logo animation when mouse hovers over*/
.team-logos img{
    width: 20%; 
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.team-logos img:hover{
    width: 30%;
}

.intro-img img {
    width: 100%;
}

.forms {
    text-align: center;
    background-color: #31363F;
}

.forms .form-items {
    padding: 30px;
}

.form-header img {
    margin: 25px auto;
}

.footer {
    background-color: #1b263b;
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Footer Buttons design and animation */
.button {
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: white;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
}

.wrapper .button {
    margin: 5px 5px;
}

.wrapper .button .icon {
    font-size: 20px;
}

.button:hover {
    width: 150px;
    transition: 0.7s;
}

.wrapper .button:nth-child(1):hover .icon {
    color: red;
}

.wrapper .button:nth-child(2):hover .icon {
    color: #316FF6;
}

.wrapper .button:nth-child(3):hover .icon {
    color: #d62976;
}

/* Use of Media queries and how the grid responds on bigger screens */
@media (min-width: 720px) {
    #middle-container {
        grid-template-columns: repeat(12, 1fr);
    }

    #middle-container .intro-text,
    .intro-img {
        grid-column: 2 / span 10;
    }

    #middle-container .logos{
        grid-column: 3 / span 8;
    }

    #middle-container .forms,
    .footer, .review-section {
        grid-column: 1 / span 12;
    }

    #middle-container .intro-text {
        margin-top: 30px;
    }

    #middle-container .intro-img {
        display: flex;
        justify-content: center;
    }

    .intro-img .images {
        margin-top: 40px;
        width: 70%;
    }

    /* Use of flex-direction */
    .forms .form-items {
        display: flex;
        gap: 100px;
        flex-direction: row-reverse;
        padding-left: 200px;
        padding-right: 200px;
    }

    .form-header{
        width: 120%
    }

    #middle-container table{
        margin-top: 20px;
        grid-column: 3 / span 8;
    }

    .review-section{
        display: flex;
        justify-content: center;
    } 
    .review-section .review-container{
        width: 60%;
    }
}